*{
    margin: 0px;
}
body{
   
    background: url("../assets/background.jpg");
    background-size: cover;
}

.container{
            margin: 20px;
}
.title{
   color: yellow!important;

    font-family: 'Anton', sans-serif;
    text-shadow: 2px 2px #000000;
    font-size: 40px;
    text-align: center;
}

.card{
    width: 15rem;
    border-radius: 1rem;
    border: 1px solid transparent;
    box-shadow: 1.3rem 1.3rem 1.3rem  rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1rem);
    

}
.card:hover{
    color: grey;
}
.img-posicao{
    object-fit: cover;
    height: 300px;
}

.cb1{
    background-color: rgba(225, 225, 225, 0.1)
}

.card-title{
    color: white;
}

.btn-color{
    background-color: rgba(233, 201, 16, 0.712);
}

.btn-color:hover{
    color: white;
    background:black;

}

