

body {
    text-align: center;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
    color: white;
}
.carousel-inner > .carousel-item > img {
    width: 700px;
    height: 500px; 
    object-fit: cover;
    object-position: 0 50%;
  }

#retorno {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 8%;
   
}
.imgCapa {
    max-height: 300px;
    margin: 10px;
}

.filmeInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 22%;
    height: 400px;
    justify-content: space-around;
    box-shadow: 10px 5px 5px rgb(34, 32, 32);
    border-radius: 5.0px;
}

.filmeInfo:hover{
    box-shadow: 10px 5px 5px rgb(47, 45, 45);
}
#imgRetorno {
    float: left;
    margin-bottom: 10%;
}

.imgCapa {
    height: 250px;
    margin: 10px;
}
.containerInfo{
    flex-wrap: wrap;
}

.btn-color{
    margin-top: 2%; 
}

@media (max-width: 940px) {
    .filmeInfo{
        width: 45%;
    }

    .imgCapa{
        height: 450px;
        width: 200px;
    }
}
@media (max-width: 600px) {
    .filmeInfo{
        width: 85%;
    }

    .imgCapa{
        height: 450px;
        width: 200px;
    }
}