.imgCapa {
    max-height: 300px;
    margin: 10px;
}

body {
    text-align: center;
}

#retorno {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.filmeInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 20%;
    height: 400px;
    justify-content: space-around;
}