.imgCapa {
    max-height: 300px;
    margin: 10px;
}

body {
    text-align: center;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
    color: white;
}

#retorno {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 8%;
   
}

.filmeInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    max-width: 20%;
    height: 400px;
    justify-content: space-around;
}

#imgRetorno {
    float: left;
    margin-bottom: 10%;
}

.imgCapa {
    height: 250px;
    margin: 10px;
}

@media (max-width: 600px) {
    
}