.formLogin {
    background-color: rgba(204, 148, 63, 0.705);
    max-width: 350px;
    width: 70%;
    padding: 50px;
    margin: auto;
    margin-top: 80px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #79734194;
}

.b{
    width: 50%;
        height: 30px;
        cursor: pointer;
        background: #ffff00;
        color: rgb(90, 86, 86);
        border: 0;
        border-radius: 5px;
}

.inputNome {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    margin: 10px 0;
    
}

body {
    background-image: url(../assets/resiliaflixcapa.jpg)}

a{
        text-decoration: none;
        color: rgb(90, 86, 86);
   }