body {
    background-image: url(../assets/resiliaflixcapa.jpg);
    
   
}


    
.container {
    align-items:center;
    justify-content: center;
   
}

.formulario {
    
    background-color: rgba(204, 148, 63, 0.548);
    max-width: 350px;
    width: 70%;
    padding: 50px;
    margin: auto;
    margin-top: 120px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #aaaaaa94;
    justify-content: center;
    align-items:center;
}

label {
    font-weight: bold;
}


.inputNome {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    margin: 10px 0;
}

.botaun {
    justify-content: center;
    align-items: center;
}


.btnEnviar{
    /* width: 105%;
    height: 50px; */
    cursor: pointer;
    background: yellow!important;
    color: rgb(22, 21, 21)!important;   
    padding-left: 10px;
    margin: 10px 0;
    border-radius: 5px;
    
}


a{
        text-decoration: none;
        color: white;
   }

   footer {
       position: absolute;
   }                