body {
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #434343 100%);
    color: white;
}
h3{
    margin-top: 80px;
}
.btn-color{
    margin: 8px 0px 40px 0px;
}
#imgRetorno {
    float: left;
    margin-right: 10%;
}

.imgCapa {
    height: 250px;
    margin: 10px;
}

footer{
    margin-top: 18%;
    position: absolute;
    
}